<h1>Login</h1>

<%= form_for(:session, url: login_path) do |f| -%>
<p>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
<p>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
<p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<p>

<hr/>
<p>
  <span> &copy; 2016 State University of New York Binghamton</span>
